 body {
    background-color: #D5FCC5;
 }

 .bgBlue {
    background-color: #9FB9FF;
 }

 .bgGreen {
   background-color: #A7EF9E;
 }

 .bgRed {
   background-color: #FFBABA;
 }

 .bgWhite {
   background-color: white;
 }


 #expenseList td {
   border: 1.5px solid blue;
   padding: 5px;
 }

 .negrita {
    font-weight: bold !important;
 }

 .alignRight {
    text-align: right;
 }


 @media (max-width: 768px) {
    .wMax {
      width: 92% !important;
    }
 }

 @media (max-width: 768px) {
    .column {
      flex-direction: column;
    }
 }

 @media (max-width: 768px) {
    .marg {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
 }

 @media (max-width: 768px) {
   .footerStatic {
     position: static !important;
   }
}

